.cartItem{
    display: flex;
    flex-direction: row;
    margin: 2rem;
    justify-content: space-between;
    gap: 3rem;
    border-bottom: 1px solid var(--black);
    width: 70%;
    padding-bottom: 2rem;
    align-items: center;
}

.cartContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cartImage{
    width: 80px;
    height: auto;
}

.deleteButton{
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--black);
    padding: 0.5rem;
    transition: background-color 0.3s ease-in-out;
}

.deleteButton:hover {
    background-color: var(--white);
    color: var(--black);
}

.total {
    text-align: right;
}

.empty{
    padding: 2rem 2rem 2rem 2rem
}

.quantityBox{
    background-color: var(--white);
    color: var(--black);
    padding: 0.5rem;
    border: 1px solid var(--black);
    width: 50px;
    text-align: center;
}