:root {
  --beige: #FEF8EE;
  --blue: #2274A5;
  --brown: #8B5A2B;
  --white: #fff;
  --black: #333333;
  --cream: #f2f2f2;
  --font-heading: 'IBM Plex Sans Condensed', sans-serif;
  --font-ingress: 'IBM Plex Sans', sans-serif;
  --font-weight-heading: 400;
  --font-weight-heading-small: 300;
  --font-weight-ingress-small: 100;
  --font-weight-ingress: 300;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--black);
  background: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
